html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #EAEBEB;
}

header {
    height: 50px;
    padding-left: 15px;
    padding-top: 15px;
    flex-shrink: 0;
    background-color: #e7008a;
    
}

header h1 {
    font-size: 19px;  
    font-weight: bold;
    color:white;
}

footer {
    color: #7a878e;
}

main {
    flex-grow: 1; 
    height: calc(100% - 50px);
}

.row {
    height: 100%;
    margin-left: 0;
    margin-right: 0; 
}

.menu {
    padding: 0;
    height: 100%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    font-size:14px;
}

.menu-option{
    color:#7a878e;
}

h6{
    padding-left:30px;
    padding-top:20px;
}

.content {
    padding: 20px;
    height: 100%;
}

span{
    padding:5px;
    padding-left:10px;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 15px;
}

#userMenuToggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative; 
}

.dropdown-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: static;
}

.dropdown-list li a {
    display: block;
    padding: 5px 0; 
    text-decoration: none;
    transition: background-color 0.2s ease;
}
