.current-repairs-container{
    position: relative;
    padding:20px 25px 25px 25px !important; 
    margin-bottom:20px;
    background-color:white;
    border-radius: 0px 0px 15px 15px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size:13px;
}

.dashboard-container{
    position: relative;
    padding:20px 25px 20px 25px !important; 
    margin-bottom:20px;
    background-color:white;
    border-radius: 15px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size:14px;
}

.links-container{
    position: relative;
    background-color:white;
    border-radius: 15px 15px 0px 0px;
    padding:10px 25px 10px 25px; 
    border-bottom: 1px solid #ccc;
}

.monthly-stats-container{
    position: relative;
    background-color:white !important;
    border-radius: 0px 0px 0px 15px;
    padding:10px 25px 10px 25px; 
    border-bottom: 1px solid #ccc;
    margin-bottom:20px;
}

.device-categories-container{
    position: relative;
    background-color:white !important;
    border-radius: 0px 0px 15px 0px;
    padding:10px 25px 10px 25px; 
    border-bottom: 1px solid #ccc;
    margin-bottom:20px;
}

.dashboard-repairs-table thead{
    border-color: transparent;
    border-bottom-color: black;
}

.black-link{
    color:black;
}

.chart-container{
    position: relative;
    padding:20px 25px 25px 25px !important; 
    background-color:white;
    border-radius: 15px 15px 15px 15px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size:13px;
}

@media only screen and (max-width: 767px) {
    .table, 
    .table tbody, 
    .table tr, 
    .table td {
        display: block;
        width: 100%;
        text-align: center;
    }

    .table thead{
        display:none;
    }

    .table td {
        border-bottom: 1px solid #ddd !important;
    }

    .table tr {
        margin-bottom: 20px;
        border-radius:10px;
    }
    
    .table td:first-child {
        border-radius: 10px 10px 0px 0px;
    }

    .table td:last-child {
        border-bottom: 0 !important;
        border-radius: 0 0 10px 10px;
    }

    .custom-link{
        margin:5px !important;
    }

    .responsive-container{
        padding: 0px !important;
        margin-bottom:20px;
    }
}
