.icon-square {
    display: inline-block;
    width: 25px;   
    height: 25px;  
    background-color: #e7008a;
    color: white;
    border-radius: 5px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.actions-column {
    width: 1%;
    white-space: nowrap;
    text-align: center; 
}

.table-container {
    height: 95%; 
    padding:25px; 
    background-color:white;
    border-radius: 15px;
}

.btn-custom{
    color:white !important;
    background-color: #e7008a !important;
    border-color: #e7008a !important;
    border-radius: 15px;
    margin-bottom:15px;
    font-size:14px !important;
}

.table-button a:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}