.icon-square {
    display: inline-block;
    width: 25px;   
    height: 25px;  
    background-color: #e7008a;
    color: white;
    border-radius: 5px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.actions-column {
    width: 1%;
    white-space: nowrap;
    text-align: center; 
}

.table-container {
    height: 95%; 
    padding:25px; 
    background-color:white;
    border-radius: 15px;
}

.no-style-link{
    color: inherit !important; 
    text-decoration: none !important;
}

.table-button a:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.pagination .page-item.active .page-link {
    background-color: #e7008a;
    border-color: #e7008a;
}

.pagination .page-link {
    color: #000;
    border-color: #ddd;
}

.pagination .page-item:hover .page-link {
    background-color: #f0f0f0;
    border-color: #ddd;
}